

#box1{
    background-color:aqua;
    height: 100px;
    width: 100px;
}

#box2{
    background-color:blueviolet;
    height: 100px;
    width: 100px;
}

#box3{
    background-color:aquamarine;
    height: 100px;
    width: 100px;
}